<!DOCTYPE HTML>
<html>
<head>
    <title>Roox app</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<br>

Hi! This is a home page for application-API which works with Customers and their Partner mappings.<br/>
<br/>
There are few links below, you can see, how it works. It will show you nothing but JSON, so I recommend you to install JSON Viewer plugin in you browser.<br/>
Here is a nice one for Google Chrome <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc?hl=ru">link</a> <br/>
<br/>
Also you can navigate using the address bar in the browser.<br/>

<a href="/customers">view all customers</a><br/>
<a href="/customers/@me">view current Customer</a><br/>
<a href="/customers/@me/mappings">view current Customer Mappings</a><br/>
<a href="/customers/50/mappings/101">view Customer 0 (User0) Mapping with id 101</a><br/>
<a href="/customers/53/mappings/103">view Customer 3 (User3) Mapping with id 103</a><br/>
<a href="/customers/0/mappings/101/avatar">view Customer 0  avatar for Mapping with id 110</a><br/>

<br/>
Of course, that links for read only. If you want to tests the CRUD <a href="https://chrome.google.com/webstore/detail/advanced-rest-client/hgmloofddffdnphfgcellkdfbfbjeloo">Advanced Rest Client</a> is the best app to do that

if you want to explore the data - check <a href="h2-console">h2-console</a><br>
url: jdbc:h2:mem:testdb<br/>
username: sa<br/>
password: empty</br>




</body>
</html>